// トップページ説明部分全体のスタイル
.top-description {
  font-weight: bold;
  color: $text-black-color;
  text-align: center;
  padding: 10px 0;
  border-bottom: $description-border;
  font-size: 20px;
}

// 各ボタンへのスタイル適用
.button {
  width: 31%;
  min-height: 90px;
  text-align: center;
  float: left;
  background-color: #cccccc;
  margin-top: 10px;
  font-size: 19px;
  line-height: 15px;
  padding: 1px 8px;
  img {
    max-width: 100%;
    display: block;
    margin: 6px auto 8px;
  }
  &:nth-child(3n){
    margin-left: 3.5%;
  }
  &:nth-child(3n+1){
    margin-right: 3.5%;
  }

  // 説明文中のボタン
  &.button-sample {
    @include button-detail($sample-button-color);
    display: inline-block;
    margin: 0 3px 0 -3px;
    min-height: 0;
    height: auto;
    width: auto;
    float: none;
    font-size: 20px;
    line-height: 30px;
    &:hover {
      background-color: $sample-button-color;
      border-top: 5px solid lighten($sample-button-color,5%);
      border-left: 5px solid lighten($sample-button-color,5%);
      border-right: 5px solid darken($sample-button-color,5%);
      border-bottom: 5px solid darken($sample-button-color,5%);
      
    }
  }

  // 各種災害のボタン
  &.button-earthquake {
    @include button-detail($earthquake-button-color);
  }
  &.button-flood {
    @include button-detail($flood-button-color);
  }
  &.button-hightide {
    @include button-detail($hightide-button-color);
  }
  &.button-tsunami {
    @include button-detail($tsunami-button-color);
  }
  &.button-inundation {
    @include button-detail($inundation-button-color);
  }
  &.button-eruption {
    @include button-detail($eruption-button-color);
  }
  &.button-fire {
    @include button-detail($fire-button-color);
  }
  &.button-typhoon {
    @include button-detail($typhoon-button-color);
    font-size: 15px;
  }
  &.button-others {
    @include button-detail($others-button-color);
  }
}