div.license-list {
  h3 {
    font-size: 18px;
    text-align: center;
    padding: 10px 0 0;
  }
  p {
    font-size: 15px;
    line-height: 24px;
    margin: 5px 0;
    padding: 5px 10px;
    border: $description-border;
    border-radius: 5px;
  }
  dl{
    margin: 0 10px 20px;
    font-size: 14px;
    border-bottom: $description-border;
    padding-bottom: 20px;
    dt {
      font-weight: bold;
      margin: 10px 0 2px;
    }
    dd {
      small {
        display: block;
      }
    }
  }
}