div.contents.map {
  position: relative;
  z-index: -4;
  div.map-canvas {
    position: relative;
    z-index: -3;
  }
}

div.gm-style-iw {
  h4 {
    font-size: 18px;
    min-width: 180px;
  }
  .sealevel {
    display: inline-block;
    margin-top: 5px;
  }
  .navigate-button {
    text-align: center;
    color: $navigate-button-text-color;
    background-color: $navigate-button-bgcolor;
    padding: 5px;
    margin-top: 15px;
    border-radius: 3px;
  }
  .check-button {
    text-align: center;
    color: $check-button-text-color;
    background-color: $check-button-bgcolor;
    padding: 5px;
    margin: 5px 0 10px;
    border-radius: 3px;
  }
}

div.height-edit {
  position: fixed;
  width: 60%;
  min-height: 80px;
  right: 20%;
  top: 90px;
  background-color: $height-edit-bgcolor;
  border: $height-edit-border;
  border-radius: 3px;
  box-shadow: 0px 1px 2px rgba(0,0,0,0.3);
  line-height: 35px;
  box-sizing: border-box;
  padding: 7px 30px 0 0;
  text-align: center;
  div {
    min-height: 35px;
    min-width: 180px;
    position: relative;
    right: 8px;
    span {
      font-size: 18px;
      font-weight: bold;
    }
    &.close-button {
      min-width: 20px;
      min-height: 100%;
      position: absolute;
      margin-right: 5px;
      right: 0;
      top: 0;
    }
  }

  .close-button:before {
    content: ' ';
    background-image: url('../images/close.png');
    background-size: contain;
    display: block;
    min-width: 32px;
    min-height: 45px;
    margin-top: 17px;
    position: absolute;
    background-repeat: no-repeat;
  }

  &.closed {
    right: 0;
    border-right: none;
    width: 28px;
    border-radius: 3px 0 0 3px;
    .close-button {
      margin-right: 5px;
    }
    .close-button:before {
      background-image: url('../images/open.png');
      margin: 17px 0 0;
    }
    .height-input, .slider {
      display: none;
    }
  }
}

div.current-back {
  position: fixed;
  min-width: 76px;
  min-height: 30px;
  right: 6px;
  bottom: 33px;
  background-color: $current-back-bgcolor;
  border: $current-back-border;
  border-radius: 3px;
  color: $current-back-color;
  box-shadow: 0px 1px 2px rgba(0,0,0,0.3);
  line-height: 30px;
  box-sizing: border-box;
  text-align: center;
}

div.search-result {
  position: fixed;
  width: 70%;
  min-height: 30px;
  right: 15%;
  bottom: 70px;
  background-color: $search-result-bgcolor;
  border-radius: 3px;
  box-shadow: 0px 1px 2px rgba(0,0,0,0.3);
  line-height: 25px;
  padding: 5px 10px;
  box-sizing: border-box;
  text-align: center;
}
