div.menu-wrapper {
  padding: 40px 0 20px;
  ul {
    list-style: none;
    padding-left: 10px;
    li {
      border-bottom: $title-nav-li-border;
      padding: 8px;
      &:nth-child(1) {
        border-top: $title-nav-li-border;
      }
      &:nth-child(3), &:nth-child(4) {
        border-top: $title-nav-li-border;
        margin-top: 50px;
      }
    }
  }
}

div.menu-contents-wrapper {
  padding: 20px 0;
  color: $menu-contents-text-color;
  h3 {
    margin-bottom: 15px;
    text-align: center;
    border-bottom: $description-border;
    padding-bottom: 5px;
  }

  p {
    margin-bottom: 25px;
  }

  h4 {
    margin-bottom: 5px;
  }

  ul {
    margin: 10px 30px;
  }
}
