header.navbar {
  // ナビゲーションバー全体に対する指定
  position: fixed;
  color: $title-text-color;
  min-height: 55px;
  text-align: center;
  width: 100%;
  background-color: $title-bar-background-color;
  box-shadow: $navbar-shadow;
  // 戻るボタン
  div.back-button {
    position: absolute;
    z-index: 3;
    top: 15px;
    left: 10px;
  }
  // メニューボタン
  div.nav-button {
    position: absolute;
    z-index: 3;
    top: 13px;
    right: 13px;
    img {
      max-height: 30px;
    }
  }
  // タイトル
  h1 {
    font-weight: bold;
    font-size: $title-font-size;
    line-height: 55px;
    img {
      max-height: 30px;
      position: relative;
      top: 6px;
    }
  }
  // メニューボタン押下時に出てくる項目
  nav {
    display: none;
    background-color: $title-nav-background-color;
    ul {
      list-style: none;
      width: 100%;
      li {
        text-align: left;
        padding: 5px 10px;
        border-bottom: $title-nav-li-border;
        a {
          display: block;
          color: #666666;
          text-decoration: none;
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}