// general
$text-black-color: #4d4d4d;
$contents-max-width: 600px;
$contents-width: 90%;

// title
$title-font-size: 30px;
$title-text-color: #3970e1;
$title-bar-background-color: #f0f0f0;
$title-nav-background-color: #e0e0e0;
$title-nav-li-color: #666666;
$title-nav-li-border: 1px solid #cccccc;
$navbar-shadow: 0 0 3px rgba(0,0,0,0.3);

// description
$description-border: 1px solid #cccccc;

// button
$button-text-color: #ffffff;
$sample-button-color: #b3b3b3;
$all-button-color: #fbb03b;
$earthquake-button-color: #379e00;
$flood-button-color: #008cff;
$hightide-button-color: #00ba95;
$tsunami-button-color: #00539c;
$inundation-button-color: #0d7db3;
$eruption-button-color: #db2811;
$fire-button-color: #d64e00;
$typhoon-button-color: #c7c21b;
$landslide-button-color: #cf4fa2;

// next button
$next-button-font-size: 40px;

// guide list
$guide-list-border: 7px solid $text-black-color;
$guide-strong-color: #ff4430;

// information
$information-category-color: #ffffff;
$information-category-bgcolor: #999999;

// height edit
$height-edit-bgcolor: rgba(230,230,230,0.85);
$height-edit-border: 1.5px solid #666666;

// current back
$current-back-bgcolor: #f0f0f0;
$current-back-color: #3970e1;
$current-back-border: 1px solid #3970e1;

// navigate
$navigate-button-bgcolor: #ed3c40;
$navigate-button-text-color: #ffffff;
$check-button-bgcolor: #666666;
$check-button-text-color: #ffffff;

// error
$error-bgcolor: #f6f6f6;
$search-position-button-bgcolor: #3970e1;
$search-position-button-color: #f0f0f0;

// information
$information-wrapper-bgcolor: rgba(0,0,0,0.3);
$information-box-bgcolor: #ffffff;
$information-name-underline: 1px solid #999999;
$information-category-bgcolor: #999999;
$information-category-color: #ffffff;
$close-guidance-color: #999999;
$close-guidance-border: 1px solid #999999;