* {
  margin: 0;
  padding: 0;
}

html,body {
  min-width: 100%;
  height: 100%;
  position: relative;
  z-index: -5;
  font-family:'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;
}